<h1>Enter Link Details</h1>
<br />
<%= simple_form_for @link do |f| %>
  <%= f.input :title %>
  <br />
  <%= f.input :url %>
  <br />
  <%= f.submit 'Submit', :class => 'btn btn-primary' %>
<% end %>